<%- include("partial_headers.ejs"); %>

<h2 id="cart_link" class="sub-title">CART</h2>
<div class="small-container cart_page">

    <table>

        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>

        <tr>
            <td>
                <div class="cart-info">
                <img src="recherche.png">
                <div>
                    <p>Recherche payante</p>
                    <small>Price: 50.00$</small>
                    <br>
                    <a href="">Remove</a>
                </div>
                </div>
            </td>
            <td><input type = "number" value ="2"></td>
            <td>$50.00</td>
        </tr>

    </table>

    <div class="total-price">
        <table>
            <tr>
                <td>Subtotal</td>
                <td>200.00$</td>
            </tr>
        </table>
    </div>

</div>

<div class="Payment">
    <input type ="button" onclick="window.location.href ='/payment';" value="PAYMENT"/>
</div>

<%- include("partial_footer.ejs"); %>