<!-- CreateAccountpage_view.ejs -->

<%- include("partial_headers.ejs"); %>

<meta charset="utf-8">
<!-- importer le fichier de style -->
<link rel="stylesheet" href="./CSS/style.css" media="screen" type="text/css" />
<style>/*css page*/
    body{
        background: #348196;
       }
       #container{
        width:400px;
        margin:0 auto;
        margin-top:10%;
       }
       /* Bordered form */
       form {
        width:100%;
        padding: 30px;
        border: 1px solid #f1f1f1;
        background: #fff;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
       }
       #container h1{
        width: 71%;
        margin: 0 auto;
        padding-bottom: 20px;
       }
       
       /* Cases for texts */
       input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
       }
    
       /* Cases for numbers */
       input[type=integer], input[type=integer] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
       }
    
       /* Cases for phone */
       input[type=string], input[type=string] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
       }
    
       /* Cases for email */
       input[type=email], input[type=email] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
       }
       
       /* Set a style for all buttons */
       input[type=submit] {
        background-color: #348196;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
       }
       input[type=submit]:hover {
        background-color: white;
        color: #348196;
        border: 1px solid #348196;
       }</style>

<body>
    <div id="container">
    <!-- zone de connexion -->


        <form action="verification.php" method="POST">
            <h1>Create an account</h1>
        
        <label><b>Name</b></label>
        <input type="text" placeholder="Enter your name" name="username" required>

        <label><b>Lastname</b></label>
        <input type="text" placeholder="Enter your lastname" name="lastname" required>
        
        <label><b>Age</b></label>
        <input type="integer" placeholder="Enter your age" name="age" required>
        
        <label><b>Email</b></label>
        <input type="email" placeholder="Enter your email" name="email" required>
        
        <label><b>Phone</b></label>
        <input type="string" placeholder="Enter your phone number" name="phone" required>
        
        <label><b>Password</b></label>
        <input type="password" placeholder="Enter your password" name="password" required>
        

        <input type="submit" id='submit' value='CREATE' >
        
        </form>
    </div>
</body>

 

<%- include("partial_footer.ejs"); %>