<%- include("partial_headers.ejs"); %>

<div class="xmas">
    <img src="image\Chrismas.PNG" alt="Xmax" >
</div>
<div class="Home Button">
    <input type ="button" onclick="window.location.href ='/main_page';" value="GAMES"/>
    <input type ="button" onclick="window.location.href ='/console';" value="CONSOLES"/>
</div>

<%- include("partial_footer.ejs"); %>