<%- include("partial_headers.ejs"); %>
<link rel="stylesheet" type="text/css" href="/CSS/home_style.css"/>

<div class="xmas">
    <img src="image\Chrismas.PNG" alt="Xmax" >
</div>
<div class="button1">
    <input type ="button" onclick="window.location.href ='/main_page';" value="GAMES"/>
</div>

<div class="button2">
    <input type ="button" onclick="window.location.href ='/console';" value="CONSOLES"/>
</div>

<%- include("partial_footer.ejs"); %>