<!-- mainpage_view.ejs -->
<html>
    <head>
        <title> GAMES SHOP </title> <!--Page name-->
    
        <link rel="stylesheet" href="style_projet.css"><!--css page name-->
    
        <!--same top for each pages-->
        <div class="TopPage">
            <SPAN style="position : absolute; top :5px; left:5px">
                <img alt="Image" src="C:\Users\PCG\Documents\EFREI BIO\EFREI L3 + MOBILITE\sem 1 Mobilité\Web Programming\PROJET\logo.png" height="150" width="250">
        </div>
    
    </head>
    
    <footer>
        <!--BAS DE PAGE -->
        <div class="footer">
            <a href="C:\Users\PCG\Documents\EFREI BIO\EFREI L3 + MOBILITE\sem 1 Mobilité\Web Programming\PROJET\contactUs">CONTACT </a>
            <li> CONTACT US : 01 22 65 92 40 
        </div>
    </footer>
</html>
