<!-- partial_footer.ejs -->

    <footer>
        <style>
            .footer{
                
                position: fixed;
                bottom: 0;
            }
        </style>
        <div class="footer">
            <a href="../image/Logo20Game-Shop.png"> Contact </a>
            <li> CONTACT US : 01 22 65 92 40  </li>
        </div>
    </footer>
</html>