<!-- partial_footer.ejs -->

    <footer>
        <style>
            .footer{
                
                position: fixed;
                bottom: 0;
                
            }
            
            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
              }
        </style>

        <div class="footer">
            <img src="image/Logo20Game-Shop.png" alt="Logo" />
            <li> CONTACT US : 01 22 65 92 40  </li>
        </div>
    </footer>
</html>