<!-- partial_headers.ejs -->
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/CSS/mainpage_style.css"/>
    <link rel="stylesheet" type="text/css" href="/CSS/header_style.css"/>
    <link rel="stylesheet" type="text/css" href="/CSS/console_style.css"/>
    <link rel="stylesheet" type="text/css" href="/CSS/cart.css"/>
    <link rel="stylesheet" type="text/css" href="/CSS/footer_style.css"/>

    <div class = "header">
        
        <ul>

            <li><div class="logo">
                <a href="https://www.codeur.com">
                <img class="logo" src="/image/logo.png" alt="logo" style="float: left" >
                </a>
            </div></li>

            <li><div class="search_bar">


                <!--Création barre de recherche-->    <!-- Onchange : Execute a JavaScript when the user changes the content of an input field:-->
                <input class="search" type = "texte" id ="search" value = ""  placeholder="Search ..."  onchange = "openPage()">
                <input class="bouton" type="button" onclick = "openPage()" />
            </div></li>

 
            <div class="images"></div>
            <li><a href=".......">
                <img class="log" alt="LOG" src="/image/profil.png" style="float: right">
                </a></li>

            <li><a href="/main_page/cart/1">
                <img class="checkout" alt="cart" src="/image/panier.png" style="float: right">
                </a>
            </li></div>

        
        </ul>

    </div>
</head>
<body>



        <script>
            function openPage(){
                var a = document.getElementById("search").value;

                if(a==="call of duty" || a==="Call of Duty" || a==="Call Of Duty" || a==="call of Duty"){
                    window.open("test.html")
                }
                else
                window.alert("Game not found !!!");
            }
        </script>
            
        
        
        
        