<!-- partial_footer.ejs -->

    <div class="foot">

    <h1>Contact Us : </br></br>

        <a href="mailto:infos@gamestore.com">infos@gamestore.com</a></h1>
        <h2>Help & Support</h2>
        <img class="foot_img"src="/image/footer_3pers.png" alt="nous 3">
        <p>Team : Noa CANTRELLE, Chloé GATTINO, Pierre REY</p>

    </div> 

    
</body>
</html>