<!-- partial_headers.ejs -->
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/CSS/mainpage_style.css"/>
    <link rel="stylesheet" type="text/css" href="/CSS/header_style.css"/>
    <link rel="stylesheet" type="text/css" href="/CSS/cart.css"/>
    <link rel="stylesheet" type="text/css" href="/CSS/footer_style.css"/>
    
    <div class = "header">
        
        <ul>

            <li><div class="logo">
                <a href="/home">
                <img class="logo" src="/image/logo.png" alt="logo" style="float: left" >
                </a>
            </div></li>

            <li><div class="search_bar">
                <form action="/main_page/search" method="post" enctype="application/x-www-form-urlencoded">
                    <!--Création barre de recherche-->    <!-- Onchange : Execute a JavaScript when the user changes the content of an input field:-->
                    <input class="search" name="game_search" type = "texte" id ="search"  placeholder="Search ..."  onchange = "submit" >
                    <input class="bouton" type="submit" value="" />
                </form>

            </div></li>

 
            <div class="images"></div>
            <li><a href="/auth/profil">
                <img class="log" alt="LOG" src="/image/profil.png" style="float: right">
                </a></li>

            <li><a href="/cart">
                <img class="checkout" alt="cart" src="/image/panier.png" style="float: right">
                </a>
            </li></div>

        
        </ul>

    </div>

</head>
<body>
    


            
        
        
        
        