.login h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.user {
    text-align: center;
    margin: 24px 0 12px 0;
    font-size: 1.5em;
}
.imgcontainer {
    width: 20%;
    margin:auto;
    display: flex;
    position: relative;
    }
 p {
    text-align: center;
    color: blue;
    font-size: 1em;
 }
 .link {
    text-align: center;
    font-size: 1.2em;
 }