#console_ensemble{
    position: relative;
    display: flex;
}

#console_parameter{
    margin-top: 0;
    border: 1px solid black;
    height: 100%;
}

#console_parameter a{
    text-decoration: none;
    text-align: left;
}

#console_parameter li{
    list-style: none;
}


#console_price label{
    font-weight: bold;
    font-size: 20px;
}


#console_stockage label{
    font-weight: bold;
    font-size: 20px;
}



.grid-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap:4px;
    text-align: center;
}

.OneConsole{
    border: 1px solid black;
    border-radius: 25px;
    background-color: lightgray;
    width: 500px;
    height: auto;
    text-align: center;
}


.ConsoleName{
 
    text-shadow:0 0 3px #FE0000, 0 0 10px #FE0000, 0 0 20px #FE0000;
    color:#FE0000;
    font-size: 2.0rem;
}
