.xmas img {
    width:100%;
}

.boutttons {
    display: flex;
 
    border:100px;
}
.boutttons:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
.button1 {
    padding: 1em 1.5em;
    /* background-image: url(/image/gift.png); */
    padding: 0 20px;
    border-radius: 10px;
    font-size: 1rem;
    
    display:flex;
 
}

.button2 {
    padding: 1em 1.5em;
    /* background-image: url(/image/gift.png); */
    padding: 0 20px;
    border-radius: 10px;
    font-size: 1rem;
  
}