h1.login {
    font-family: Arial, Helvetica, sans-serif;;
}
img.avatar {
    width: 10%;
    border-radius: 40%;
    }
.user {
    text-align: center;
    margin: 24px 0 12px 0;
}
.imgcontainer {
    width: 10%;
    border-radius: 40%;
    }
 p {
    text-align: center;
    color: blue;
 }