
#ensemble{
    position: relative;
    display: flex;
    margin-left: 15px;
}


#parameter{
    width: max-content;
    height: auto;
    border: 1px solid black;
}

#parameter a{
    text-decoration: none;
    text-align: left;

}

#parameter li{
    list-style: none;
}

#list_parameter{
    text-align: left;
}

#Game_Price_list label{
    font-weight: bold;
    font-size: 20px;
}

#Game_type_list label{
    font-weight: bold;
    font-size: 20px;
}

#Game_Editor_list label{
    font-weight: bold;
    font-size: 20px;
}





.grid-container {
    display: grid;
    grid-template-columns: 22.5% 22.5% 22.5% 22.5%;
    gap: 10px;
    padding: 10px;
}

.OneGame{
    border: 1px solid black;
}

.GameImage{
    width: 250px;
    height: 300px;
}
