#ensemble{
    position: relative;
    display: flex;
}


#parameter{
    width: max-content;
    height: auto;
    border: 1px solid black;
}

#parameter a{
    text-decoration: none;
    text-align: left;

}

#parameter li{
    list-style: none;
}

#list_parameter{
    text-align: left;
}

#td_image{
    width: 150px;
    height: 250px;
    border: 1px solid black;
}

#table tr{
    float: left;
    width: 25%;
    max-height: 20%;
    padding: 15px;
    border: 1px solid black;
    display: block;
}
#table td:after{
    display: inline;
    clear: both;
}

#tentative td{
    display: block;
}
