
#ensemble{
    position: relative;
    display: flex;
}

#parameter{
    margin-top: 0;
    border: 1px solid black;
    width: fit-content;
    height: 100%;

}

#parameter a{
    font-size: 15px;
    color: black;
    text-decoration: none;
}

li{
    list-style: none;
}

a:hover, a:active{
    color: none;
}

#price{
    text-align: center;
}

#marange{
    width: 75%;
}

#viewing_bloc{
    border: 1px solid black;
    width: 100%;
    height: fit-content;
}

#viewing_bloc th,td{
    border: 1px solid black;
    width: fit-content;
}

#table a{
    color: black;
}

#table{
    height: 782px;
    width: 100%;
}
