*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

/*categories for the first part of the page in shop*/
.categories{
  margin: auto;
  height: 80%;
  width: 100%;
  background: linear-gradient( #1637F2,#F20CCC);
  
}

.categories h1{
  text-shadow:0 0 3px #FE0000, 0 0 10px #FE0000, 0 0 20px #FE0000;color:#FE0000;
  text-align: center;
  font-size: 2.5rem;
}

.console_infos{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.col_1 .col_2{
  flex-basis: 36%;
  min-width: 250px;
  margin-bottom: 15px;
  padding:10px 0;
  height: 100%;
}

.col_1 img{
  max-width: 100%;
  max-height: 450px;
  padding:10px 50px 20px;
}

.col_2{
  max-width: 750px;
}

.data{
  height: 100%;
  padding-top: 10px;
}


.datass ul li{
  list-style: none;
  font-size: 1.6rem;
  font-weight: bold;
}

.datass{
  padding-right: 100px;
}



.buy button {
  display: inline-block;
  background-color: #7b38d8;
  border-radius: 10px;
  border: 4px double #fc0303;
  color: #eeeeee;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.buy button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.buy button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.buy button:hover {
  background-color: #3a033b;
}
.buy button:hover span {
  padding-right: 25px;
}
.buy button:hover span:after {
  opacity: 1;
  right: 0;
}

