<html>
    <head>
        <meta charset="utf-8">
            <!-- importer le fichier de style -->
            <link rel="stylesheet" href="\Users\PCG\Documents\EFREI BIO\EFREI L3 + MOBILITE\sem 1 Mobilité\Web Programming\PROJET\Games-store\Source Code\CSS\style.css" media="screen" type="text/css" />
    </head>
        <body>
            <div id="container">
            <!-- zone de connexion -->
            
                <form action="verification.php" method="POST">
                    <h1>Create an account</h1>
                
                <label><b>Name</b></label>
                <input type="text" placeholder="Enter your name" name="username" required>

                <label><b>Lastname</b></label>
                <input type="text" placeholder="Enter your lastname" name="lastname" required>
                
                <label><b>Age</b></label>
                <input type="number" placeholder="Enter your age" name="age" required>
                
                <label><b>Email</b></label>
                <input type="email" placeholder="Enter your email" name="email" required>
                
                <label><b>Phone number</b></label>
                <input type="string" placeholder="Enter your phone number" name="phone" required>
                
                <label><b>Password</b></label>
                <input type="password" placeholder="Enter your password" name="password" required>
                

                <input type="submit" id='submit' value='CREATE' >
                
                </form>
            </div>
        </body>
</html>